body {
  background-color: #D1F3FF;
}

header {
  font-family: 'Press Start 2P', cursive;
  color: #FFA4C4;
  margin: 20px;
  display: flex;
  justify-content: center;
}



input {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  padding: 10px;

}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #FFA4C4;
  display: flex;
}

.Greeting {
  
}

.Instructions{
  font-family: 'Oxygen', sans-serif;
  color: #364D7F;
  display: flex;
}


.Character {
  display: flex;
  justify-content: center;
}

#age, #hungry, #sleepy, #boredom {
  font-family: 'Oxygen', sans-serif;
  color: #364D7F;
  font-size: 25px;
  display: flex;

}
#name, #feed, #lights, #play {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  background-color: #364D7F;
  color: #FFA4C4;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;



}
